*,
*::before,
*::after {
    padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}
div.text{ color: blueviolet;
    display: block;
}
.list{
    color: blue;
}
.text{ color: brown;}
.contact{ color: black; size: 0;}
.img{
    vertical-align: top;
}
.lesson{
    color: aqua;
}
.text ~ p {color: red;
}
.item{
    color: darkorange;
}
.item1{
    color: black;
}
.item1 p {
    color: greenyellow;
}
.item1 > p { color: violet;}
